body{font-family: arial; background-color: wheat}
*{
    margin: 0;
    padding: 0;
}
/*el body tiene definido la letra fuente en general arial*/
#vertical{
    display: none;
    position: relative;
    padding: 12px;
    margin: 12px;


}
/*con esto se crea un id para poder ocultar el navegador horizontal y hace que aparezca el vertical*/
.container{
    /*este es el inicio de navegador vertical*/

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 200px;
    background-color: #333;
}
/*en la clase container muestra de que manera va a quedar el navegador vertical */
.container li a{
    list-style-type: none;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
}
/*los contenido del container se mostrara de forma en bloque */
.container li a.active{
    background-color: red;
    color:white;
    text-align: center;
}
/* la clase active signica que uno de los bloque mantendra su color de fondo */
.container li a:hover:not(.active){
    background-color: dimgray;
    color: white;
}
/*con la etiqueta hover al pasar el mause por los bloque se desplegra in color difernte y 
a la ves denega la clase active para que no sea afectado */
.subcontainer {
    position: relative;
    display: inline-block;


}
/*subcontainer su posicion es relative puede varia y el diplay  esta en linea pero en bloque*/
.subcontainer-content{
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 150px;
    list-style-type: none;
}
/*subcontainer se define el fondo se le quita las biñeta y se le asipna una posicion absoluta*/
.subcontainer-content a{
    color: black;
    text-decoration: none;
    display: block;

}
/*aca se leda el color a las letras y que se despliege en bloque  */
.container li.deple:hover .subcontainer-content {
    display: block;
    color: red;
}
/*en esta parte se selecciona una parte del bloque que se desea que contenga subbloque al pasar 
el mouse encima  */

.navegar{
    width: 1000px;
    margin: 30px auto;
    background-color: black;

}
.navegar ul{
    list-style-type: none;

}
.titulo > li {
    display: inline-block;
    position: relative;
    border-right: 1px solid #bbb;
    text-align: center;
    z-index: 1;
}
.titulo > li > a{

    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration:  none;

}
.titulo >li > a:hover{
    color: buttonface;
}
.titulo > li > a.active{
    background-color: red;
}
.subtitulo{
    position: absolute;
    background-color: blue;
    width: 100%;
    display: none;
}
.subtitulo li a{
    display: block;
    padding: 15px;
    color: rosybrown;
    text-decoration: none;
    text-align:center;
}
.titulo li:hover .subtitulo{
    display: block;
}
.prueba{
    margin: 0;
    padding: 0;
}
.prueba ul{
    list-style-type: none;
    background-color: black;
    width: 100px;
    text-align: center;
    width: 150px;

}
.prueba1 > li {
    display:block;  
    color: white;
    margin: 12px;
    padding: 12px;


}
.subprueba {
    position: relative;
    display: inline-block;

}

#colapsado{
    display: none;
    margin: 10px;
    padding: 10px;
    height: 300px;
}

.subprueba {
    position: relative;
    display: none;
    background-color: #111;
    list-style-type: none;
}


.subprueba a{
    color: white;
    text-decoration: none;
    display: block;
    margin-right: 10px;

}

.subprueba  a.active{
    background-color: red;
}

.prueba1 li.desplegar:hover .subprueba{
    display: block;
    position: relative;
}

#contenido{
    position: absolute;

}
@media only screen and (max-width: 800px) {
    #contenido {
        position: absolute;
        padding-left: 85px;  
    }

}
@media only screen and (max-width: 500px) {
    body{
        padding-top:80px;
    }
    #contenido{
        padding-left: 50%;
    }
}